<template>
   <div class="api-calling">

      <div class="list-products">
         <h2>LIST PRODUCT</h2>
         <div class="product-table">
            <table class="table table-bordered">
               <thead>
               <tr>
                  <th>ID</th>
                  <th>Images</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Action</th>

               </tr>
               </thead>
               <tbody>
               <tr v-for="(prod,index) in list_products">
                  <td>{{ prod.id }}</td>
                  <td><img :src="'http://local.vuejs.com/public/' + prod.pro_image" height="100" /></td>
                  <td>{{ prod.pro_name }}</td>
                  <td>{{ prod.pro_price }}</td>
                  <td><button type="button" v-on:click="BuyProduct(index)">Đặt mua</button></td>
               </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="list-mua">
         <h5 class="label label-success">Danh sách đã mua |Số lượng:<span>{{tongsosl}}</span></h5>
         <table class="table">
            <thead>
            <tr>
               <th>ID</th>
               <th>TITLE</th>
               <th>SL</th>
               <th>PRICE</th>
               <th>XOA</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(mua, index) in dsmua">
               <td>{{mua.id}}</td>
               <td><label class="label label-danger">{{mua.title}}</label></td>
               <td><input type="int" v-model="mua.slmua" class="form-control" :name="mua.id" :data-id="mua.id"></td>
               <td><label class="label label-danger">{{mua.slmua*mua.price}}</label></td>
               <td><a href="#" class="label label-warning" v-on:click="xoasp(index)">Xóa</a></td>
            </tr>
            <tr>
               <td colspan="4" v-if="tonggia>0"><label class="label label-primary">Tổng giá:{{tonggia}}</label>
                  <router-link :to="{name:'Dathang'}" class="btn btn-success">Đặt hàng</router-link>
               </td>
            </tr>
            </tbody>
         </table>
      </div>

   </div>
</template>

<script>
   export default {

      data() {
         return {
            errors: [],
            list_products: [],
            dsmua:[],
            tongsosl:0,
            tonggia:0,
         }
      },
      created() {
         this.getListProducts();
         this.load_dsmua();
         this.giohang();

      },
      methods: {
         getListProducts() {
            this.$axios.get('http://local.vuejs.com/api/products')
                    .then(response => {
                       this.list_products = response.data
                    });
         },
         BuyProduct:function(index){
            var sanpham = this.list_products[index];
            var items = this.dsmua;
            var check_sp=false;
            var vitri=0;
            var result = Object.keys(items).map(function(key) {
               if(items[key].id==sanpham.id){
                  check_sp=true;
                  vitri=key;
               }
            });
            if(check_sp){
               this.dsmua[vitri]={
                  "id":sanpham.id,
                  "title":sanpham.pro_name,
                  "image":sanpham.pro_image,
                  "price":this.list_products[index].pro_price*parseInt(this.dsmua[vitri].slmua+1),
                  "slmua":parseInt(this.dsmua[vitri].slmua)+1,

               }
            }else{

               this.dsmua.push({
                  "id":sanpham.id,
                  "title":sanpham.pro_name,
                  "image":sanpham.pro_image,
                  "price":sanpham.pro_price,
                  "slmua":1,

               });
            }

            this.save_dsmua();
            this.giohang();
         },
         xoasp:function(index){
            this.dsmua.splice(index,1);
            this.save_dsmua();
            this.giohang();
         },
         giohang(){
            var items= this.dsmua;
            var tong=0;
            var toggia=0;
            var result = Object.keys(items).map(function(key) {
               tong=tong+parseInt(items[key].slmua);
               toggia=toggia+parseInt(items[key].price);
            });
            this.tongsosl=tong;
            this.tonggia=toggia;
         },
         load_dsmua(){
            var dsmua = this.$session.get('dsmua');
            this.dsmua = dsmua;
         },
         save_dsmua(){
            this.$session.start()
            this.$session.set('dsmua', this.dsmua)
         }

      }
   }
</script>

<style lang="scss" scoped>

</style>